<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Built with the Steam-enabled Godot source tree used by this project. -->
    <add key="custom-godot" value="..\..\Godot_Building_Src\godot\MyLocalNugetSource" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
